Repository defund12/defund12.org, pull requests merged in 2020-06, with the labels that each got.

#224 Memphis, TN Template
  .gitignore
  _emails/membphis.md
Labels: missing-locale-specific-info

#532 Move Pleasanton letter to proper dir
  _emails/pleasanton.md
Labels: bug

#817 Improve selectBox styling
  _includes/header.html
  _includes/list.html
  css/main.scss
  images/jQuery-selectBox-arrow.gif
Labels: feature

#582 add Miami, FL
  _emails/miami.md
Labels: new-email-pr

#601 Add San Antonio, TX
  _emails/sanantonio.md
Labels: new-email-pr

#676 add Des Moines, IA
  _emails/us/iowa/desmoines.md
Labels: new-email-pr

#648 Add Hartford, CT
  _emails/us/connecticut/hartford.md
Labels: new-email-pr

#607 add glendale, CA
  _emails/glendale.md
Labels: new-email-pr

#602 Add Palo Alto, CA
  _emails/us/california/paloalto.md
Labels: new-email-pr

#590 add Providence, RI
  _emails/providence.md
Labels: new-email-pr

#529 Create kansascityMO.md
  _emails/kansascityMO.md
Labels: new-email-pr

#483 add tempe, AZ
  _emails/tempe.md
Labels: new-email-pr

#820 Create colorado-springs.md
  _emails/us/colorado/colorado-springs.md
Labels: new-email-pr

#596 add email template for Holly Springs, NC
  _emails/holly-springs.md
Labels: new-email-pr

#1048 Update portland-defundPPB.md
  _emails/us/oregon/portland-defundPPB.md
Labels: content-change-request

#619 Add Somerville, MA
  _emails/somerville.md
Labels: new-email-pr

#1017 Edit Las Vegas, NV to include ask for education
  _emails/us/nevada/lasvegas.md
Labels: content-change-request

#1022 Add Eugene, OR
  _emails/us/oregon/eugene.md
Labels: new-email-pr

#1024 Add Alexandria, VA
  _emails/us/virginia/alexandria.md
Labels: new-email-pr

#1035 requested edit to call out Riverside County Sheriff specifically in R…
  _emails/us/california/riverside_county.md
Labels: content-change-request

#1045 Add St Petersburg, FL
  _emails/us/florida/stpetersburg.md
Labels: new-email-pr

#1069 Add Lexington, KY
  _emails/us/kentucky/lexington.md
Labels: new-email-pr

#1073 add Toledo, OH email
  _emails/us/ohio/toledo.md
Labels: new-email-pr

#1081 Add Tucson, AZ
  _emails/us/arizona/tuscon.md
Labels: new-email-pr

#1087 Add Albany, CA
  _emails/us/california/albany.md
Labels: new-email-pr

#1088 add Petaluma, CA
  _emails/us/california/petaluma.md
Labels: new-email-pr

#1089 add Jamestown, RI
  _emails/us/rhode_island/jamestown.md
Labels: new-email-pr

#1090 add Arlington, MA
  _emails/us/massachusetts/arlington.md
Labels: new-email-pr

#1091 add Winston-Salem, NC
  _emails/us/north_carolina/winstonsalem.md
Labels: new-email-pr

#1094 add Stockton, CA
  _emails/us/california/stockton.md
Labels: new-email-pr

#1157 Add Chico, CA
  _emails/us/california/chico.md
Labels: new-email-pr

#1143 Add Williamsburg, VA
  _emails/us/virginia/williamsburg.md
Labels: new-email-pr

#1147 Add Knoxville, TN
  _emails/us/tennesee/knoxville.md
Labels: new-email-pr

#1148 Add Royal Oak, MI
  _emails/us/michigan/royaloak.md
Labels: new-email-pr

#1151 Add Fort Worth, TX
  _emails/us/texas/fortworth.md
Labels: new-email-pr

#1153 Add Pasadena, CA
  _emails/us/california/pasadena.md
Labels: new-email-pr

#1154 San leandro
  _emails/us/california/sanleandro.md
Labels: new-email-pr

#1155 Add Irving, TX
  _emails/us/texas/irving.md
Labels: new-email-pr

#1156 Add Daly City, CA
  _emails/us/california/dalycity.md
Labels: new-email-pr

#1158 Add Newton, MA
  _emails/us/massachusetts/newton.md
Labels: new-email-pr

#1160 Add Concord, NH
  _emails/us/new_hampshire/concord.md
Labels: new-email-pr

#1007 Added Omaha, Nebraska template
  _emails/us/nebraska/omaha.md
Labels: missing-linking-issue, new-email-pr

#1161 Add Newark, DE
  _emails/us/delaware/newark.md
Labels: new-email-pr

#1162 Add East Lansing, MI
  _emails/us/michigan/eastlansing.md
Labels: new-email-pr

#1164 Add La Crosse, WI
  _emails/us/wisconsin/lacrosse.md
Labels: new-email-pr

#1165 Add Little Rock, AR
  _emails/us/arkansas/littlerock.md
Labels: new-email-pr

#1166 Add Burlington, VT
  _emails/us/vermont/burlington.md
Labels: new-email-pr

#1167 Add Torrance, CA
  _emails/us/california/torrance.md
Labels: new-email-pr

#1168 Add Lafayette, CA
  _emails/us/california/lafayette.md
Labels: new-email-pr

#1170 Add Franklin Township, Somerset County, NJ
  _emails/us/new_jersey/franklintownship.md
Labels: new-email-pr

#1171 Add Rochester, NY
  _emails/us/new_york/rochester.md
Labels: new-email-pr

#1173 Add New Haven, CT
  _emails/us/connecticut/newhaven.md
Labels: new-email-pr

#1175 Add Hollister, CA
  _emails/us/california/hollister.md
Labels: new-email-pr

#1176 Add Worcester, MA
  _emails/us/massachusetts/worcester.md
Labels: missing-linking-issue, new-email-pr

#1178 Add Salinas, CA
  _emails/us/california/salinas.md
Labels: new-email-pr

#1179 Add Jacksonville, FL
  _emails/us/florida/jacksonville.md
Labels: new-email-pr

#1183 Add Gainesville, FL
  _emails/us/florida/gainesville.md
Labels: new-email-pr

#1185 Fix formatting on Phoenix
  _emails/us/arizona/phoenix.md
Labels: bug

#1186 Added Beacon, NY
  _emails/us/new_york/beacon.md
Labels: new-email-pr

#1350 Added scottsvalley.md from CLI
  _emails/us/california/scottsvalley.md
Labels: new-email-pr

#1359 add second letter for Burlington, VT
  _emails/us/vermont/burlington-mayor.md
Labels: new-email-pr

#1357 add new letter for Santa Fe, NM
  _emails/us/new_mexico/santafe.md
Labels: new-email-pr

#1348 add letter for Palm Beach County, FL
  _emails/us/florida/palmbeachcounty.md
Labels: new-email-pr

#1227 Create greensville.md
  _emails/us/south_carolina/greensville.md
Labels: new-email-pr

#1335 add Chowchilla, CA
  _emails/us/california/chowchilla.md
Labels: new-email-pr

#1336 add Olympia, WA
  _emails/us/washington_state/olympia.md
Labels: new-email-pr

#1337 add West Covina, CA
  _emails/us/california/westcovina.md
Labels: new-email-pr

#1338 add Nevada County, CA
  _emails/us/california/nevada_county.md
Labels: new-email-pr

#1339 add Prince George's County, MD
  _emails/us/maryland/princegeorges.md
Labels: new-email-pr

#1344 Fixes email address in Gainesville template
  _emails/us/florida/gainesville.md
Labels: content-change-pr

#1354 Update letter for Huntsville, AL
  _emails/us/alabama/huntsville.md
Labels: ready-for-pr

#1273 Edit Newton, MA
  _emails/us/massachusetts/newton.md
Labels: new-email-pr

#1217 add Newport, RI
  _emails/us/rhode_island/newport.md
Labels: new-email-pr

#1214 add Modesto, CA
  _emails/us/california/modesto.md
Labels: new-email-pr

#1216 add Antioch, CA
  _emails/us/california/antioch.md
Labels: new-email-pr

#1215 add Boise, ID/ ID dir
  _emails/us/idaho/boise.md
Labels: new-email-pr

#1196 Add Riverside, CA
  _emails/us/california/riverside.md
Labels: new-email-pr

#1221 add Emeryville, CA
  _emails/us/california/emeryville.md
Labels: new-email-pr

#1213 add Vestavia Hills, AL
  _emails/us/alabama/vestaviahills.md
Labels: new-email-pr

#1320 Add Wake County, NC
  _emails/us/north_carolina/wakecounty.md
Labels: new-email-pr

#1385 update non-bouncing emails for Boise, ID
  _emails/us/idaho/boise.md
Labels: content-change-pr

#1404 Change racial inequality to racial injustice
  README.md
  _config.yml
Labels: content-change-pr

#1402 Add Oxnard, CA
  _emails/us/california/oxnard.md
Labels: new-email-pr

#1397 Add Lafayette, IN
  _emails/us/indiana/lafayette.md
Labels: new-email-pr

#1394 Add Hilliard, OH
  _emails/us/ohio/hilliard.md
Labels: new-email-pr

#1391 Add Poughkeepsie, NY
  _emails/us/new_york/poughkeepsie.md
Labels: new-email-pr

#1398 add Detroit, MI
  _emails/us/michigan/detroit.md
Labels: new-email-pr

#1392 add Winchester, VA
  _emails/us/virginia/winchester.md
Labels: new-email-pr

#1390 add Lancaster, PA
  _emails/us/pennsylvania/lancaster.md
Labels: new-email-pr

#1388 add Las Cruces, NM
  _emails/us/new_mexico/las_cruces.md
Labels: new-email-pr

#1386 add Merced, CA
  _emails/us/california/merced.md
Labels: new-email-pr

#1376 Add Hendersonville, NC
  _emails/us/north_carolina/hendersonville.md
Labels: new-email-pr

#1451 Add letter for Santa Clara, CA (city)
  _emails/us/california/santa_clara.md
Labels: new-email-pr

#1446 add new letter for Canandaiugua, NY
  _emails/us/new_york/canandaigua.md
Labels: new-email-pr

#1459 Add North Charleston, SC
  _emails/us/south_carolina/north_charleston.md
Labels: new-email-pr

#1444 add new letter for Mill Valley, CA
  _emails/us/california/mill_valley.md
Labels: new-email-pr

#1369 build jekyll and deploy w/out force push
  .github/workflows/ci.yml
  .ruby-version
Labels: infrastructure

#1474 build jekyll on non-master branches to confirim build
  .github/workflows/ci.yml
Labels: infrastructure

#1462 Edit baltimore county md
  _emails/us/maryland/baltimore_county.md
Labels: content-change-pr

#1475 cache yarn deps (and combine jest + lint jobs)
  .github/workflows/ci.yml
Labels: infrastructure

#1490 Burbank, CA (/burbank)
  _emails/us/california/burbank.md
Labels: new-email-pr

#1489 Alamance, NC (/alamance)
  _emails/us/north_carolina/alamance.md
Labels: new-email-pr

#1486 Durango, CO (/durango)
  _emails/us/colorado/durango.md
Labels: new-email-pr

#1488 Johns Creek, GA (/johnscreek)
  _emails/us/georgia/johnscreek.md
Labels: new-email-pr

#1558 Los Gatos, CA (/losgatos)
  _emails/us/california/los_gatos.md
Labels: new-email-pr

#1557 San Bernardino County, CA (/sanbernardinocounty)
  _emails/us/california/san_bernardino_county.md
Labels: new-email-pr

#1556 Middlebury, VT (/middlebury)
  _emails/us/vermont/middlebury.md
Labels: new-email-pr

#1531 Lakeland, FL (/lakeland)
  _emails/us/florida/lakeland.md
Labels: new-email-pr

#1484 add new letter for Monterey, CA
  _emails/us/california/monterey.md
Labels: new-email-pr

#1559 Newark, CA (/newark-ca)
  _emails/us/california/newark.md
Labels: new-email-pr

#1526 Ithaca, NY (/ithaca)
  _emails/us/new_york/ithaca.md
Labels: new-email-pr

#1532 Pittsfield, MA (/pittsfield)
  _emails/us/massachusetts/pittsfield.md
Labels: new-email-pr

#1553 add San Bruno, CA
  _emails/us/california/sanbruno.md
Labels: new-email-pr

#1576 update instructions for dev
  Brewfile
  Brewfile.lock.json
  README.md
Labels: infrastructure

#1593 Mobile, AL (/mobile)
  _emails/us/alabama/mobile.md
Labels: new-email-pr

#1585 Peoria, IL (/peoria)
  _emails/us/illinois/peoria.md
Labels: new-email-pr

#1584 Roanoke, VA (/roanoke)
  _emails/us/virginia/roanoke.md
Labels: new-email-pr

#1522 El Paso, TX (/elpaso)
  _emails/us/texas/el_paso.md
Labels: new-email-pr

#1501 Paso Robles, CA (/paso-robles)
  _emails/us/california/paso_robles.md
Labels: new-email-pr

#1504 Cupertino, CA (/cupertino)
  _emails/us/california/cupertino.md
Labels: new-email-pr

#1517 Walla Walla, WA (/wallawalla)
  _emails/us/washington_state/walla_walla.md
Labels: new-email-pr

#1507 Lakewood, WA (/lakewood)
  _emails/us/washington_state/lakewood.md
Labels: new-email-pr

#1505 Cedar Rapids, IA (/cedar-rapids)
  _emails/us/iowa/cedar_rapids.md
Labels: new-email-pr

#1529 Artesia, CA (/artesia)
  _emails/us/california/artesia.md
Labels: new-email-pr

#1516 Bergen County, NJ (/bergencounty)
  _emails/us/new_jersey/bergen_county.md
Labels: new-email-pr

#1508 Juneau, AK (/juneau)
  _emails/us/alaska/juneau.md
Labels: new-email-pr

#1528 St. Mary's County, MD (/stmarys)
  _emails/us/maryland/st_marys_county.md
Labels: new-email-pr

#1463 Add Wilmington, NC
  _emails/us/north_carolina/wilmington.md
Labels: new-email-pr

#1609 Fix email preview (line breaks in signatures and styling for lists)
  .gitignore
  _sass/2-layout/_global.scss
  package.json
  src/DefundUtils.ts
  src/own.d.ts
  yarn.lock
Labels: bug

#1595 Victorville, CA (/victorville)
  _emails/us/california/victorville.md
Labels: new-email-pr

#1554 add Saint Louis County, MO
  _emails/us/missouri/saintlouis_county.md
Labels: new-email-pr

#1219 add Sunnyvale, CA
  _emails/us/california/sunnyvale.md
Labels: new-email-pr

#1435 Add San Mateo County, CA
  _emails/us/california/san_mateo_county.md
Labels: new-email-pr

#1502 Laguna Beach, CA (/laguna-beach)
  _emails/us/california/laguna_beach.md
Labels: new-email-pr

#1503 Duluth, MN (/duluth)
  _emails/us/minnesota/duluth.md
Labels: new-email-pr

#1506 Columbia, SC (/columbia)
  _emails/us/south_carolina/columbia.md
Labels: new-email-pr

#1509 Arroyo Grande, CA (/arroyo-grande)
  _emails/us/california/arroyo_grande.md
Labels: new-email-pr

#1510 San Luis Obispo County, CA (/san-luis-obispo-county)
  _emails/us/california/san_luis_obispo_county.md
Labels: new-email-pr

#1518 Chattanooga, TN (/chattanooga)
  _emails/us/tennesee/chattanooga.md
Labels: new-email-pr

#1519 Concord, CA (/concord)
  _emails/us/california/concord.md
Labels: new-email-pr

#1520 Malden, MA (/malden)
  _emails/us/massachusetts/malden.md
Labels: new-email-pr

#1521 Syracuse, NY (/syracuse)
  _emails/us/new_york/syracuse.md
Labels: new-email-pr

#1527 Miami-Dade County, FL (/miamidade)
  _emails/us/florida/miami_dade.md
Labels: new-email-pr

#1623 sort list of cities before grouping into states
  src/components/email-list/EmailList.tsx
Labels: bug

#1621 Billerica, MA (/billerica)
  _emails/us/massachusetts/billerica.md
Labels: new-email-pr

#1620 Update South San Francisco, CA (/southsanfrancisco)
  _emails/us/california/south_san_francisco.md
Labels: content-change-pr

#1614 remove tslint from deps, move jest to dev deps
  package.json
  yarn.lock
Labels: infrastructure

#1602 Updated Peoria, IL (/peoria)
  _emails/us/illinois/peoria.md
Labels: content-change-pr

#1545 Somerville, MA (/somerville)
  _emails/us/massachusetts/somerville.md
Labels: content-change-pr

#1478 Stop using to: and use bcc:
  _emails/README.md
  src/components/email/Email.tsx
Labels: feature
